@import "./variable.module";

@mixin flexDesign($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin color($color) {
  color: $color;
}

@mixin bgcolor($color) {
  background-color: $color;
}

// For border radius
@mixin rounded-corner($arc) {
  -moz-border-radius: $arc;
  -webkit-border-radius: $arc;
  border-radius: $arc;
}

// div height width
@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

//**********************************

// FONT SIZE MIXINS
@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
  font-size: $font-size * 1px;

  @if $line-height==normal {
    line-height: normal;
  } @else {
    line-height: $line-height / $font-size;
  }

  @if $letter-spacing==normal {
    letter-spacing: normal;
  } @else {
    letter-spacing: #{$letter-spacing / $font-size}em;
  }
}

/* ===== Usage ===== */
// p {
//     @include font-size(12, 18, 1.2);
//     // returns
//     font-size: 12px;
//     line-height: 1.5; // 18 / 12
//     letter-spacing: 0.1em;
//   }

//**********************************

//**********************************

//Font Face
@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($path + ".eot");
    src: url($path + ".eot?#iefix") format("embedded-opentype"),
      url($path + ".woff") format("woff"),
      url($path + ".ttf") format("truetype"),
      url($path + ".svg##{$font-name}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

/* ===== Usage ===== */
//   @include font-face(Roboto, "./assets/Roboto", normal, normal);

//**********************************

// MEDIA QUARIES
@mixin tablet {
  @media only screen and (min-width: $md) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $lg) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $xl) {
    @content;
  }
}

/* ===== Usage ===== */
// h1 {
//     font-size: 10px;

//     @include tablet {
//       font-size: 12px;
//     }

//     @include desktop {
//       font-size: 20px;
//     }
//   }

//**********************************
