.button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--primaryBlue);
  color: white;
}

.buttonOutlined {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid var(--primaryBlue);
  color: var(--primaryBlue);
}

.buttonText {
  padding: 10px 20px;
  border-radius: 50px;
  color: var(--primaryBlue);
}
