@import "../abstracts/variable.module";

.button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: $commonThemeColor1;
  color: white;
}

.buttonOutlined {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid $commonThemeColor1;
  color: $commonThemeColor1;
}

.buttonText {
  padding: 10px 20px;
  border-radius: 50px;
  color: $commonThemeColor1;
}
